<body>
<div class="bootstrap-wrapper">
      <div class="container">
          <div class="row" >
              
              <div class="col-md-4 ">
                  <div class="container text-center">
                      <img src="../../../assets/logoo.JPG" alt="dashboard_image"  class="img-fluid" style="margin-top: 40px ;">
                      <h1 class="text-center" color="primary">!! FoodBox !!</h1>
                   </div>
                </div>
    
              <div class="col-md-6">
    
                 <!-- {{user | json}}  -->
                  <form (ngSubmit)="formLogin()">
                    
                    
                    
                    <!-- <div class="container text-center">
                      <h2>Basic Role select</h2>
                      <mat-form-field appearance="fill">
                        <mat-label>Role</mat-label>
                        <select  matNativeControl required >
                          <option [(ngValue)]="user.roleIdLong" value="1" name="1">User</option>
                          <option [(ngValue)]="user.roleIdLong" value="2" name="2">Admin</option>
                          
                        </select>
                      </mat-form-field> -->
                  <!-- </div> -->
                    
                      <!-- user name field -->
                      <mat-card style="margin-top:40px">
                      <mat-form-field  class="full-width" appearance="outline">
                          <mat-label>User Name</mat-label>
                          <input 
                          [(ngModel)]="user.username"
                          matInput placeholder="Placeholder"
                          name="username"
                          matInput placeholder="Enter Your User Name">
                          
                          
                        </mat-form-field>
                    
                          
                            <mat-form-field class="full-width" appearance="outline">
                              <mat-label>Enter your password</mat-label>
                              <input 
                              [(ngModel)]="user.password"
                              matInput placeholder="Placeholder"
                              name="password" type="password" matInput placeholder="Enter Your First Name">
                              
                              
                            </mat-form-field>
                            
    
    
                          <div class="container text-center">
                              <button type="submit" mat-raised-button color="accent">Login</button>
                              <button type="reset" style="margin-left: 10px;" mat-raised-button color="primary">Clear</button>
                              <!-- <button style="margin-left: 10px;" mat-stroked-button color="accent">Signup</button> -->
                              <a mat-raised-button style="margin-left: 10px;" href="http://localhost:4200/signup">Signup</a>
                              
                            </div>
                            </mat-card>
                  </form>
                </div>
          </div>
      </div>
    </div>
  </body>